body {
  height: 100%;
  padding-left: 300px;
  font-family: Raleway, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

h3 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #adadad;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  text-transform: none;
}

a {
  color: #adadad;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 20px;
  background-color: rgba(8, 62, 141, .72);
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #323232;
}

.button.button-with-margin {
  margin-right: 10px;
  margin-left: 10px;
}

.button.button-white {
  background-color: #fff;
  color: #e3543b;
}

.button.button-white:hover {
  background-color: #e3543b;
  color: #fff;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  height: 100%;
  float: left;
  background-color: #fff;
  box-shadow: 0 0 100px 1px rgba(0, 0, 0, .18);
}

.navigation-link {
  width: 100%;
  padding-top: 10px;
  padding-left: 65px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #232323;
  font-weight: 400;
}

.navigation-link:hover {
  color: #e3543b;
}

.navigation-link.w--current {
  color: #e3543b;
}

.navigation-menu {
  float: none;
}

.brand {
  display: block;
  margin-top: 100px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.banner {
  position: relative;
  height: 100%;
  background-color: #424242;
}

.social-wrapper {
  position: absolute;
  left: 0px;
  top: 823px;
  right: 0px;
  bottom: 30px;
  padding-top: 0px;
  text-align: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url('../images/facebook_333333_100.png');
  background-position: 50% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.social-icon:hover {
  background-color: #e3543b;
  background-image: url('../images/facebook_ffffff_100 (1).png');
}

.social-icon.twitter {
  background-image: url('../images/twitter_333333_100.png');
}

.social-icon.twitter:hover {
  background-image: url('../images/twitter_ffffff_100.png');
}

.social-icon.linkdin {
  background-image: url('../images/linkedin_333333_100.png');
}

.social-icon.linkdin:hover {
  background-image: url('../images/linkedin_ffffff_100.png');
}

.social-icon.rss {
  background-image: url('../images/rss_333333_100.png');
}

.social-icon.rss:hover {
  background-image: url('../images/rss_ffffff_100.png');
}

.social-icon.icon-team {
  background-image: url('../images/facebook_ffffff_100 (1).png');
}

.social-icon.icon-team.icon-2 {
  background-image: url('../images/twitter_ffffff_100.png');
}

.social-icon.icon-team.icon-3 {
  background-image: url('../images/linkedin_ffffff_100.png');
}

.section {
  padding: 100px 10px;
}

.section.gray {
  background-color: #fafafa;
}

.section.gray.photo {
  background-image: url('../images/photos.jpg');
  background-position: 0px 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.parallax {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/parallax.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/parallax.jpg');
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.less-space {
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-title {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.top-title.in-inner {
  margin-bottom: 0px;
  color: #fff;
}

.divider-line {
  display: block;
  width: 70px;
  height: 3px;
  margin: 20px auto;
  background-color: #e3543b;
}

.divider-line.margin-left {
  margin-left: 0px;
}

.divider-line.margin-left.less-space {
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-line.two {
  width: 156px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.divider-line.head {
  background-color: #3bbbe3;
}

.top-sub-text {
  margin-bottom: -82px;
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
}

.top-sub-text.white {
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.tab-content {
  margin-top: 50px;
}

.tab {
  margin-right: 30px;
  margin-left: 30px;
  padding: 14px 6px;
  background-color: transparent;
  opacity: 0.7;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  color: #313131;
  font-size: 15px;
  font-weight: 600;
}

.tab:hover {
  opacity: 1;
}

.tab.w--current {
  background-color: transparent;
  opacity: 1;
  color: #e3543b;
}

.tab-menu {
  text-align: center;
}

.tab-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  background-image: url('../images/magic_363636_100.png');
  background-position: 50% 50%;
  background-size: 40px;
  background-repeat: no-repeat;
}

.tab-icon.icon-2 {
  background-image: url('../images/camera-retro_363636_100.png');
}

.tab-icon.icon-3 {
  background-image: url('../images/heart_363636_100.png');
}

.tab-icon.icon-4 {
  background-image: url('../images/paint-brush_363636_100.png');
}

.call-to-action-wrapper {
  margin-top: 20px;
}

.call-to-action-wrapper.center {
  text-align: center;
}

.column-0-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
  width: 33.333%;
  float: left;
}

.features-wrapper {
  width: 25%;
  margin-top: -1px;
  margin-left: -1px;
  padding: 23px;
  float: left;
  border: 1px solid #ebebeb;
}

.features-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url('../images/desktop_333333_100.png');
  background-position: 50% 50%;
  background-size: 28px;
  background-repeat: no-repeat;
}

.features-icon.icon-2 {
  background-image: url('../images/leaf_333333_100.png');
}

.features-icon.icon-3 {
  background-image: url('../images/paint-brush_363636_100.png');
}

.features-icon.icon-4 {
  background-image: url('../images/star_363636_100.png');
}

.features-icon.icon-5 {
  background-image: url('../images/pencil_333333_100.png');
}

.features-icon.icon-6 {
  background-image: url('../images/heart_363636_100.png');
}

.features-icon.icon-7 {
  background-image: url('../images/cogs_363636_100.png');
}

.features-icon.icon-8 {
  background-image: url('../images/clock-o_333333_100.png');
}

.clients-wrapper {
  width: 20%;
  height: 80px;
  float: left;
  background-image: url('../images/logo-1.png');
  background-position: 50% 50%;
  background-size: 145px;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.clients-wrapper:hover {
  opacity: 0.8;
}

.clients-wrapper.logo-2 {
  background-image: url('../images/logos-9.png');
}

.clients-wrapper.logo-3 {
  background-image: url('../images/logo-4.png');
}

.clients-wrapper.logo-4 {
  background-image: url('../images/logos-6.png');
}

.clients-wrapper.logo-5 {
  background-image: url('../images/logo-5.png');
}

.footer {
  position: relative;
  padding: 40px 10px 115px;
  background-color: #383838;
}

.footer-wrapper {
  height: 226px;
  max-height: 226px;
  padding-right: 10px;
  border-right: 1px solid #4a4a4a;
  color: #fff;
}

.bottom-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #424242;
}

.center {
  text-align: center;
}

.footer-title {
  margin-bottom: 30px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 500;
}

.list-footer {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #4a4a4a;
}

.footer-icon {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 0px;
  float: left;
  background-image: url('../images/map-marker_999999_100.png');
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}

.footer-icon.icon-2 {
  background-image: url('../images/envelope_999999_100.png');
}

.footer-icon.icon-3 {
  background-image: url('../images/phone_999999_100.png');
}

.footer-icon.icon-4 {
  background-image: url('../images/chevron-right_999999_100.png');
  background-size: 10px;
}

.footer-link {
  position: relative;
  display: block;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  line-height: 26px;
}

.footer-link:hover {
  color: #fff;
}

.testimonials-slider {
  height: auto;
  background-color: transparent;
}

.slider-navigation {
  position: relative;
  padding-top: 15px;
  font-size: 12px;
}

.slider-navigation.absolute-position {
  position: absolute;
  padding-top: 5px;
}

.testimonials-wrapper {
  padding-right: 70px;
  padding-left: 70px;
  text-align: center;
}

.testimonials-photo {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 100%;
  background-image: url('../images/cleint3.jpg');
  background-size: contain;
}

.testimonials-photo.photo-3 {
  background-image: url('../images/client2.jpg');
}

.testimonials-photo.photo-2 {
  background-image: url('../images/client1.jpg');
}

.testimonials-content {
  margin-bottom: 20px;
}

.testimonials-paragraph {
  color: #fff;
}

.testimonials-name {
  color: #fff;
  text-transform: uppercase;
}

.testimonials-sub-name {
  color: hsla(0, 0%, 100%, .89);
  font-size: 13px;
  font-weight: 300;
}

.portfolio-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(227, 84, 59, .95);
  opacity: 0;
}

.portfolio-title {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

.portfolio-sub-title {
  position: absolute;
  left: 20px;
  top: 49px;
  font-family: 'PT Serif', serif;
  color: hsla(0, 0%, 100%, .76);
  font-size: 13px;
  line-height: 26px;
  font-style: italic;
  letter-spacing: 1px;
}

.portfolio-icon {
  position: relative;
  top: 43%;
  display: block;
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
  background-color: #fff;
  background-image: url('../images/link_e3543b_100.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.portfolio-icon:hover {
  background-color: #333;
}

.inner-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/slide02.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/slide02.jpg');
  background-position: 0% 0%, 50% 50%;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.inner-banner.photo-2 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/slide08.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/slide08.jpg');
  background-position: 0px 0px, 0% 51%;
  background-size: auto, auto;
}

.inner-banner.photo-3 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 53%, .7), hsla(0, 0%, 53%, .7)), url('../images/T6M3KP3K4T (1).jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 53%, .7), hsla(0, 0%, 53%, .7)), url('../images/T6M3KP3K4T (1).jpg');
  background-position: 0px 0px, 0px 50%;
  background-size: auto, cover;
  background-repeat: repeat, repeat-x;
  background-attachment: scroll, scroll;
}

.inner-banner.photo-4 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/slide07.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 53%, .8), hsla(0, 0%, 53%, .8)), url('../images/slide07.jpg');
}

.skills-bar {
  margin-bottom: 15px;
}

.skills-percent-bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background-color: #e3e3e3;
}

.skills-bar-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80%;
  height: 3px;
  background-color: #e3543b;
}

.skills-bar-overlay.bar-2 {
  width: 100%;
}

.skills-bar-overlay.bar-3 {
  width: 65%;
}

.skills-bar-overlay.bar-4 {
  width: 46%;
}

.skills-bar-overlay.bar-5 {
  width: 91%;
}

.team-wrapper {
  position: relative;
  overflow: hidden;
}

.team-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  background-image: -webkit-linear-gradient(270deg, rgba(79, 79, 79, .8), rgba(79, 79, 79, .8));
  background-image: linear-gradient(180deg, rgba(79, 79, 79, .8), rgba(79, 79, 79, .8));
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  color: #fff;
  text-align: center;
}

.team-overlay:hover {
  opacity: 1;
}

.team-content {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.team-name {
  margin-bottom: 5px;
  font-weight: 600;
}

.team-sub-text {
  margin-bottom: 10px;
  color: #e3543b;
  font-size: 13px;
}

.paragraph-white {
  color: #fff;
  font-size: 13px;
}

.hero {
  text-align: center;
}

.text-field {
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #ebebeb;
  border-radius: 15px;
}

.text-field.text-area {
  height: auto;
  padding-top: 15px;
  padding-bottom: 105px;
}

.success-message {
  padding: 22px;
  border-radius: 5px;
  background-color: #50d49f;
  text-align: center;
}

.form-paragraph {
  margin-bottom: 0px;
  color: #fff;
}

.error-message {
  margin-top: 15px;
  border-radius: 5px;
  background-color: #ff6161;
  text-align: center;
}

.big-slider {
  height: 100%;
}

.slide {
  padding-right: 10px;
  padding-left: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/slide01.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/slide01.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.slide.photo-2 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/slide03.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/slide03.jpg');
}

.slide.photo-3 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/slide02.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/slide02.jpg');
}

.banner-content {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  z-index: 10;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #fff;
  text-align: center;
}

.banner-small-title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 27px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, .49);
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner-big-title {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 70px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-sub-text {
  margin-bottom: 30px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
}

.logo {
  margin-right: 10px;
  padding-right: 12px;
}

.mnp {
  margin-bottom: 10px;
  margin-left: 2px;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.mnp.disclose {
  margin-top: -11px;
  font-size: 14px;
  line-height: 23px;
  font-style: italic;
}

.thumb-div {
  margin: 0px 2px -155px;
  padding: 10px;
}

.thumb {
  max-width: 49%;
  margin-top: 0px;
  padding-bottom: 0px;
  opacity: 0.21;
}

.main-head {
  font-family: Raleway, sans-serif;
}

.content-h2 {
  font-family: 'Open Sans', sans-serif;
}

.richsteps {
  font-family: 'Droid Sans', sans-serif;
}

.demo {
  width: 100%;
  height: auto;
}

.hero-h4 {
  font-family: Raleway, sans-serif;
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
}

.procon-col {
  border: 1px solid #cecece;
}

.col-title {
  text-align: center;
}

.proconul {
  height: 123px;
  margin-top: 11px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-left: 1px none #dad5d5;
  font-family: 'Open Sans', sans-serif;
  color: #686868;
}

.procontextdiv {
  margin-top: 10px;
  text-align: center;
}

.proconp {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #686868;
  font-weight: 400;
}

.proconp.option {
  margin-bottom: 70px;
  font-weight: 600;
}

.procon-container {
  margin-top: 35px;
  margin-bottom: 100px;
}

.links {
  color: #14a1ff;
  font-weight: 400;
  text-decoration: underline;
}

.figure1 {
  display: block;
  max-width: 613px;
}

.figure2 {
  max-width: 115%;
}

.quotesp {
  margin-top: 6px;
  margin-bottom: 64px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

._800img {
  position: relative;
  left: -257px;
  max-width: 278%;
  padding-right: 0px;
  float: none;
}

.captionsh5 {
  margin-top: -2px;
  margin-bottom: 48px;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.captionsh5.figure3 {
  margin-top: 11px;
}

.captionsh5.figure4 {
  margin-top: 11px;
  margin-left: 26px;
}

.figure2img {
  margin-top: 27px;
  margin-bottom: 7px;
}

.titleh2 {
  display: inline-block;
  margin-top: 32px;
  font-family: 'Droid Sans', sans-serif;
}

.figure4img {
  border: 5px solid #cfcfcf;
}

.figure4div {
  margin-top: 42px;
}

.checkmark-div {
  margin-top: 14px;
  text-align: center;
}

.row {
  border: 1px solid #bbadad;
}

.row.tite {
  height: 48px;
  min-height: 0px;
  border-style: solid;
}

.row._2 {
  min-height: 0px;
}

.col {
  position: static;
  margin-bottom: 0px;
  border-style: none solid none none;
  border-right-width: 1px;
  border-right-color: #cecece;
  border-left-width: 1px;
  border-left-color: #000;
}

.figure5-wrapper {
  margin-top: 11px;
  margin-bottom: 44px;
}

.figure4-wrapper {
  margin-top: 6px;
  margin-bottom: 7px;
}

.titileh4 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.titleh3 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.steps-concl {
  margin: 3px 0px;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  color: #585858;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.test-placement {
  display: none;
}

.macy-pay {
  max-width: 57%;
}

.macy-raw {
  margin-bottom: 54px;
}

._800flower {
  max-width: 57%;
}

html.w-mod-js *[data-ix="slide-out-portfolio-title"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="slide-out-portfolio-title-2"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="slide-out-portfolio-icon"] {
  opacity: 0;
  -webkit-transform: scale(0.2, 0.2);
  -ms-transform: scale(0.2, 0.2);
  transform: scale(0.2, 0.2);
}

@media (max-width: 991px) {
  body {
    padding-left: 0px;
  }
  .navigation {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: auto;
    height: auto;
    padding: 15px;
    float: none;
  }
  .navigation-link {
    color: #fff;
  }
  .navigation-link:hover {
    background-color: rgba(0, 0, 0, .83);
  }
  .navigation-menu {
    float: right;
    background-color: rgba(0, 0, 0, .74);
  }
  .brand {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
  }
  .brand.w--current {
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
  }
  .banner {
    height: 70%;
  }
  .inner-banner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .banner-big-title {
    font-size: 40px;
  }
  .banner-sub-text {
    font-size: 20px;
  }
  .hamburger {
    color: #e3543b;
    font-size: 24px;
  }
  .hamburger.w--open {
    border-radius: 20px;
    background-color: #e3543b;
  }
}

@media (max-width: 767px) {
  .navigation {
    padding-right: 5px;
    padding-left: 5px;
  }
  .banner {
    height: 50%;
  }
  .section.gray.photo {
    background-image: none;
  }
  .tab {
    margin-right: 12px;
    margin-left: 12px;
  }
  .portfolio-wrapper {
    width: 50%;
  }
  .features-wrapper {
    width: 50%;
  }
  .clients-wrapper {
    width: 48%;
    margin-right: -1px;
    margin-left: -1px;
  }
  .footer-wrapper {
    height: auto;
    margin-bottom: 20px;
    border-right-color: transparent;
  }
  .team-wrapper {
    margin-bottom: 20px;
  }
  .banner-big-title {
    margin-bottom: 5px;
    font-size: 37px;
    line-height: 50px;
  }
  .banner-sub-text {
    line-height: 30px;
  }
  .space-device {
    margin-top: 20px;
  }
  .another-space-device {
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .banner {
    height: 40%;
  }
  .tab {
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  .portfolio-wrapper {
    width: 100%;
  }
  .features-wrapper {
    width: 100%;
  }
  .clients-wrapper {
    width: 100%;
  }
  .testimonials-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .banner-big-title {
    font-size: 30px;
    line-height: 40px;
  }
  .banner-sub-text {
    font-size: 18px;
    line-height: 28px;
  }
  .proconp {
    font-size: 12px;
    line-height: 21px;
  }
}

